
### Folders

/**/incremental_db
/**/output_files
/**/simulation
/**/synthesis
/**/synthesis_output
/**/db
/**/devkits
/**/build
/**/*.exe
/**/prob.c
/**/html


/**/*.v
/**/*.json
/**/*.bak
/**/*.rpt
/**/*.qdf
/**/*.DS_store
/**/*.sv.bak
/**/*.ninja
/**/build/.ninja
/**/build/.txt

/**/TextFiles
/**/src/test.c

Firmware//build/
Firmware/CMakeFiles/
Firmware/CMakeCache.txt
Firmware/build.ninja
Firmware/rules.ninja
Firmware/.ninja_deps
Firmware/.ninja_log
.DS_Store
/**/latex